.navbar-custom {
  background-color: #F7F5F2;
  border-bottom: 1px solid #273B4A !important;
  padding: 40px 20px 40px 20px;
  position: fixed;  /* Make the navbar fixed to the top of the viewport */
  top: 0;           /* Align the top edge of the navbar with the top edge of the viewport */
  width: 100%;      /* Ensure the navbar stretches across the full width of the viewport */
  z-index: 1000;    /* Ensures the navbar stays on top of other content */
}

#nav-sig {
  font-family: 'Clash Display', 'Helvetica';
  font-weight: 450;
  font-style: normal;
  color: #273B4A;
  font-size: 120px;
  letter-spacing: 0.05em;
}

.nav-item {
  padding: 30px;
}

.custom-nav-link {
  padding: 20px 20px 0px 20px;
  font-family: 'Montserrat', 'Helvetica';
  align-self: center;
  transition: all 0.5s ease;
  color: #273B4A;

}

.custom-nav-link:hover {
  background-color: #C5D1E4;
  color: #273B4A;
  border-radius: 3px;
  padding: 10px 15px;
}

.page-container {
  background-color: #F7F5F2;
  padding: 20px;
}

#contactInfo {
  width: 100%;
  padding-top: 200px;

}

#overlay {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  height: 600px;
  background-color: #C5D1E4;
  background-image: url('top-graphic.png');
  background-size: cover;
  padding: 20px;
  z-index: 999;
  font-weight: bold;
  color: black;
  display: none;
}

#reference-overlay {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  height: 700px;
  background-color: #C5D1E4;
  background-image: url('top-graphic.png');
  background-size: cover;
  padding: 20px;
  z-index: 999;
  color: #273B4A;
  display: none;
}


.hidden-elements {
  display: flex;
  padding-top: 250px !important;
  color: #273B4A !important;
}

.each-ref {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  margin: 0;
}

.ref-container {
  width: 100%;
  height: 700px;
  display: flex;
  flex-wrap: wrap;
}

.top-section {
  display: flex;
  padding-top: 200px;
  position: relative;
  z-index: 1;
}

.top-left {
  width: 50%;
  padding: 60px;
  color: #273B4A;
  display: flex;
  flex-direction: column; /* Aligns children in a column */
  /* text-align: centr; Centers the text within the div */
}

.image-container {
  width: 50%; /* Set your desired width */
  height: 500px; /* Set your desired height */
  background-image: url('background-image.png');
  background-size: cover; /* Adjusts the background image to cover the entire div */
  background-position: center; /* Centers the background image */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner-container {
  width: 80%; /* Adjust this to control the size of the inner container */
  height: 80%; /* Adjust this to control the size of the inner container */
  position: relative;
}
.inner-container img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Ensures the image maintains its aspect ratio */
  display: block;
}

.headings {
  height: 50px;
  width: 100%;
  background-color: #C5D1E4;
  color: #273B4A;
  font-family: 'Montserrat', 'Helvetica';
  padding: 12px 0px 5px 70px;
}

.topics {
  display: flex;
  padding-left: 30%;
}

ul.custom-bullets {
  list-style: none; /* Remove default bullets */
  padding-left: 20px; /* Adjust as needed */
}

ul.custom-bullets li {
  position: relative;
  padding-left: 20px; /* Adjust as needed */
  margin-bottom: 10px; /* Adjust as needed */
}

ul.custom-bullets li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 0.2em; /* Adjust size */
  height: 0.2em; /* Adjust size */
  background-color: #aaa; /* Adjust color */
  border-radius: 50%; /* Make it round */
}

.main-content {
  font-family: 'Montserrat', 'Helvetica';
  padding-left: 30%;
  color: #273B4A;
}

h2 {
  font-family: 'Montserrat', 'Helvetica';
  color: #273B4A;
}

h3 {
  font-family: 'Montserrat', 'Helvetica';
  color: #273B4A;
}

h5 {
  font-family: 'Montserrat', 'Helvetica';
  padding-left: 30%;
  color: #273B4A;
  font-weight: bolder;
}

h4 {
  font-family: 'Montserrat', 'Helvetica';
  padding-left: 60px;
  color: #273B4A;
  font-weight: bold;
}

h6 {
  font-family: 'Montserrat', 'Helvetica';
  padding-left: 30%;
  color: #273B4A;
  font-weight: bold;
}
