.navbar-custom {
  background-color: #F7F5F2;
  border-bottom: 2px solid #273B4A !important;
  padding: 100px 20px 100px 20px;
}

#nav-sig {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
  color: #273B4A;
  font-size: 100px;
}

.nav-item {
  padding: 30px;
}

.custom-nav-link {
  padding: 20px 20px 0px 20px;
  font-family: "Prata", serif;
  align-self: center;
  transition: all 0.5s ease;
  color: #273B4A;

}

.custom-nav-link:hover {
  background-color: #C5D1E4;
  color: #273B4A;
  border-radius: 15px;
  padding: 10px 15px;
}

.page-container {
  background-color: #F7F5F2;
  padding: 20px;
}
.top-section {
  display: flex;
}

.top-left {
  width: 50%;
  padding: 50px;
  color: #273B4A;
}

.top-right {
  width: 50%;
  padding: 50px;
}

.top-right img {
  width: 500px;
  height: auto;
}

.headings {
  height: 50px;
  width: 100%;
  background-color: #C5D1E4;
  color: #273B4A;
}

p {
  padding-left: 30%;
  color: #273B4A;
}
